/* YOU'RE WELCOME. I KNOW. I'M AWESOME. xP */

a, a:hover, a:visited
{text-decoration: none;}

h1{
	text-align: center;
	color: #580000;
	font-size: 60px;
}
th{
	font-size: 30px;
}

nav
{width: 700px;
border: 1px solid black;
margin: 0 auto;}

nav ul li
{list-style-type: none;
display: inline-block;
text-align: center;
width: 200px;}

table
{border: 1px solid black;
border-collapse: collapse;
margin: auto;
padding: auto;
margin-top: 10px;}

table td, table th
{border-left: 1px solid black;
padding: 10px;}

